.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    align-items: center;
    margin-top: 1em;
}

.product-card {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 8px;
    transition: transform 100ms ease-in-out;
    box-shadow: 5px 8px 5px #00000048;
}

.product-card:hover {
    transform: scale(1.05);
}

.card_infos {
    padding: 1em;
    border-top: 1px solid #c2bfbf;
}

.container_card {
    flex-direction: column;
}

.descricao {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.valor {
    font-weight: bold;
    font-size: 1.5em;
}

.info {
    font-size: 0.9em;
    color: #000;
    font-weight: bold;
}

.button_car {
    background: #6baed6;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}

.button_car:hover {
    background: #008ada;
    font-weight: bold;
    font-size: 1em;
}

.icon_car {
    display: flex;
    align-items: center;
}

.icon_car span{
    padding-right: 1em;
}

#button_car {
    background-color: #FF0000;
    color: #fff;
}