/* Menu */

.hearder {
    background-color: #00b7bd;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.hearder .search {
    color: #000;
}


@media (max-width: 655px) {
    .hearder .icon_search {
        display: none;
    }
}

@media (max-width: 445px) {
    .hearder .search {
        width: 1em;
        /* height: 2em; */
    }
}

@media (max-width: 449px) {
    .hearder .search {
        width: 1em;
    }
}