.container_banner2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  height: auto;
  padding-top: 2em;
  padding-bottom: 3em;
  background-color: #efefef;
}

.slide-item {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-top: 30px;

}

@media (max-width: 1124px) {
  .whatapp_icon {
      font-size: 2.2rem;
  }
}


@media (max-width:1206px) {
  .slide-item {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0px;
  }
}

@media (max-width:400px) {
  .slide-item {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0px;
  }
}

@media (max-width:390px) {
  .slide-item {
      width: 100%;
      height: 100px;
      position: relative;
      top: 0px;
  }
}

@media (max-width:336px) {
  .slide-item {
      width: 100%;
      height: 100px;
      position: relative;
      top: 0px;
  }
}